<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @contact.name %> 様</p>

    <p>お世話になっております。<br>
    ひとひひとななでございます。</p>

    <p>以下のお問い合わせにつきまして、ご回答申し上げます。</p>

    <p>【お問い合わせ内容】</p>
    <p><%= @contact.content %></p>

    <p>【ご回答】</p>
    <p><%= @contact.reply_content %></p>

    <p>今後ともひとひひとななをよろしくお願いいたします。</p>

    <p>※本メールは送信専用メールアドレスから配信されています。<br>
    このメールに返信いただいても回答できませんので、ご了承ください。</p>
  </body>
</html>