<div class="flex items-center justify-between py-3">
  <div class="flex items-center">
    <div>
      <p class="font-medium text-gray-900"><%= user.name %></p>
      <p class="text-sm text-gray-500"><%= user.email %></p>
    </div>
  </div>
  <div class="text-sm text-gray-500">
    <%= l user.created_at, format: :long %>
  </div>
</div>